<router-outlet></router-outlet>
<a routerLink="/Articles" routerLinkActive="active">get Articles</a>
<br>
<a routerLink="/Article/1" routerLinkActive="active">Get Articles 1</a>
<br>
<a routerLink="/put/Article/1" routerLinkActive="active">put Articles 1</a>
<br>
<a routerLink="/post/Article/12" routerLinkActive="active">put Articles 12</a>
<br>
<a routerLink="/delete/Article/12" routerLinkActive="active">delete Articles 12</a>
<br>
<a routerLink="/Articles/AdminArticles" routerLinkActive="active">Get Articles admin</a>
<br>
<a routerLink="/Articles/TriArticles" routerLinkActive="active">Get Articles tri</a>
